In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('./BoxingHeartRateStats.csv')

In [5]:
df

     Coach  Max HR  Average HR     Class
0    Chris     173         151    Fitbox
1     Trey     175         156  Personal
2     Jojo     176         144    Fitbox
3    Maura     174         150  Personal
4   Keller     178         145    Fitbox
5    Logan     170         141  Skillbox
6     Josh     180         157    Fitbox
7     Trey     170         146   Contact
8     Josh     172         155    Fitbox
9     Jojo     172         152    Fitbox
10   Chris     178         160    Fitbox
11    Trey     179         155  Personal
12   Maura     180         151    Fitbox
13   Logan     177         164   Corebox
14  Keller     178         153    Fitbox
15   Logan     171         145   Contact
16   Chris     170         147    Fitbox
17    Trey     173         149   Contact
18   Logan     177         146    Fitbox
19    Dean     175         151   Contact
20   Maura     177         156    Fitbox
21   Chris     171         154    Fitbox
22    Trey     164         135   Contact
23   Maura     170         136    Fitbox
24    Josh     169         141    Fitbox
25    Josh     174         143    Fitbox
26   Chris     172         151    Fitbox
27    Josh     173         151    Fitbox
28    Trey     169         140   Contact
29   Logan     166         135    Fitbox
30    Josh     172         144    Fitbox
31   Chris     178         156    Fitbox
32    Dean     177         149  Personal
33    Dean     171         154   Contact
34    Josh     175         161    Fitbox
35   Chris     171         149    Fitbox
36    Josh     174         153    Fitbox
37   Logan     171         147    Fitbox
38   Chris     173         152    Fitbox
39    Trey     172         151   Contact
40   Maura     173         145    Fitbox
41    Josh     174         146    Fitbox
42   Maura     170         147    Fitbox
43   Maura     176         159    Fitbox
44   Chris     180         156    Fitbox
45    Trey     179         149   Contact
46   Maura     177         153    Fitbox
47    Josh     179         150    Fitbox

In [6]:
df['Coach'].value_counts()

Josh      10
Chris      9
Maura      8
Trey       8
Logan      6
Dean       3
Jojo       2
Keller     2
Name: Coach, dtype: int64

In [11]:
df['Class'].value_counts()

Fitbox      33
Contact      9
Personal     4
Corebox      1
Skillbox     1
Name: Class, dtype: int64

In [9]:
df.groupby('Coach')['Max HR'].max().sort_values(ascending=False)

Coach
Maura     180
Josh      180
Chris     180
Trey      179
Keller    178
Logan     177
Dean      177
Jojo      176
Name: Max HR, dtype: int64

In [10]:
df.groupby('Coach')['Average HR'].max().sort_values(ascending=False)

Coach
Logan     164
Josh      161
Chris     160
Maura     159
Trey      156
Dean      154
Keller    153
Jojo      152
Name: Average HR, dtype: int64

In [12]:
df.groupby('Class')['Max HR'].max().sort_values(ascending=False)

Class
Fitbox      180
Personal    179
Contact     179
Corebox     177
Skillbox    170
Name: Max HR, dtype: int64

In [13]:
df.groupby('Class')['Average HR'].max().sort_values(ascending=False)

Class
Corebox     164
Fitbox      161
Personal    156
Contact     154
Skillbox    141
Name: Average HR, dtype: int64